name: Build EXE Verification

# 触发条件：当推送到 main 分支，或者提交 Pull Request 时触发
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest  # 使用 Windows 环境

    steps:
    # 1.以此拉取代码
    - uses: actions/checkout@v3

    # 2. 安装 Python
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12.4' # 根据你的实际版本调整

    # 3. 安装依赖
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller
        pip install -r requirements.txt

    # 4. 运行打包命令
    - name: Build with PyInstaller
      run: |
        pyinstaller -F -n BD2_AutoFishing --add-data "exclamation_mark.png;." --onefile main.py

    # 5. (可选) 上传打包好的 EXE 供你下载检查
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: AutoFisher-Build
        path: dist/BD2_AutoFishing.exe